facebook-sdk==1.0.0a0
Flask==0.10.1
Flask-Assets==0.10
Flask-Login==0.2.11
Flask-OAuth==0.12
Flask-OpenID==1.2.4
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-Security==1.7.4
Flask-Social==1.6.2
Flask-SQLAlchemy==1.0
Flask-Triangle==0.5.4
Flask-WhooshAlchemy==0.56
Flask-WTF==0.10.3
mailgun==0.1.1
MarkupSafe==0.23
mysqlclient==1.3.6
oauth2==1.5.211
passlib==1.6.2
pathlib==1.0.1
python-openid==2.2.5
SQLAlchemy==0.7.9
virtualenv==12.0.7
w3lib==1.11.0
Werkzeug==0.9.6
wheel==0.24.0
Whoosh==2.6.0
WTForms==2.0.1
