{% extends "basic/base.html" %}
{% block content %}
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-4 column">
				</div>
				<div class="col-md-8 column form">
						<h2>Log In to <a href="/">Vedge</a></h2>
						<form id="login-form" action="" method="post" enctype="multipart/form-data">
							<div class="input-group-lg signup-box">
							  {{ form.email(class="form-control", placeholder="Email", type="text")  }}
							</div>
							<div class="input-group-lg signup-box">
							  {{ form.password(class="form-control", placeholder="••••••••", type="password")  }}
							</div>
							<button type="submit" class="btn btn-default btn-lg log-button">Log In</button>
						</form>
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock %}