{% extends "base.html" %}
{% block content %}


{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
  <link rel="stylesheet" href="/static/css/style1.css">
    <div class="wrapper">
      <div id="box">
<h3>Resend confirmation instructions</h3>
<form action="{{ url_for_security('send_confirmation') }}" method="POST" name="send_confirmation_form">
  {{ send_confirmation_form.hidden_tag() }}
  {{ render_field_with_errors(send_confirmation_form.email,'Email Address') }}
  {{ render_field(send_confirmation_form.submit) }}
</form>
</div>
</div>
<!-- {% include "security/_menu.html" %} -->
{% endblock %}