{% extends "basic/base.html" %}
	{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table">
				<thead>
					<tr>
						<th>
							Date
						</th>
						<th>
							Notification
						</th>
						<th>
							Action
						</th>
					</tr>
				</thead>
				<tbody>
					{% for notification in notifications|sort(reverse=True, attribute='time') %}
					{% if notification.read == False %}
					<tr class="active">
						<td>
							{{notification.time}}
						</td>
						<td>
							{{notification.poster_name}} reviewed {{notification.event_name}}
						</td>
						<td>
							<a class="btn btn-primary" href="{{notification.link}}">Check it out</a>
						</td>
					</tr>
					{% else %}
					<tr>
						<td>
							{{notification.time}}
						</td>
						<td>
							{{notification.poster_name}} reviewed {{notification.event_name}}
						</td>
						<td>
							<a class="btn btn-primary" href="{{notification.link}}">Check it out</a>
						</td>
					</tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}