{% extends "basic/base.html" %}
	{% block content %}
	
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-4 column">
					</div>
					<div class="col-md-8 column">
						<h3>
							Edit {{current_user.firstname}}s Profile
						</h3>
						<form role="form" role="form" action="" method="post" enctype="multipart/form-data" >
							<div class="form-group"><br>
								 {{ form.password(class="form-control", placeholder="Enter Existing Password")  }}<br><br>
								 <label>{{note}}</label>
								 {{ form.new_password(class="form-control", placeholder="New Password")  }}<br>
								 {{ form.repeat_password(class="form-control", placeholder="Repeat New Password")  }}<br>
							</div><button type="submit" class="btn btn-default">Change Password</button>
						</form>
						<form><br><br>
							<div class="form-group">
								 <label for="exampleInputFile">Upload Image</label><br><br>
								 <input type="file" id="exampleInputFile"/>
							</div>
							<div class="checkbox">
							</div> <button type="submit" class="btn btn-default new-image">Upload Image</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	{%endblock %}