{% extends "event_layout.html" %} {% block content %}

<div class="container">
    <div class="content">
        <h2>BITS 'n' BYTES</h2>
        <section>
            <p> Basic knowledge of coding in C/C++ will come handy in the quiz, followed by two rounds on encoding and decoding using the Base 64 Technique, with time constraints.</p>
        </section>
        <section>
            <h4>EVENT FORMAT:</h4>The event will consist of three rounds. Each round will have a specific format. The winner of the event will be decided in the final round:

            <ul>
                <li> Round1:Quiz</li>
            </ul>

            <ul>
                <li> Round2:Decoding</li>
            </ul>

            <ul>
                <li>Round:Decoding/Encoding</li>
            </ul>

        </section>
        <section>
            <h4>EVENT DETAILS:</h4>

            <h3>Round1:</h3>
            <ul>
                <li> Basic quiz based on C/C++. </li>
                <li> Participants will apply in teams of two.</li>
                <li>30multiple choice questions will be there for 1 hour duration</li>
                <li>3 marks for each correct answer and -1 for each wrong answer. There will be no deduction in marks in case of unattempt questions.</li>
                <li>15 teams will be selected for 2nd round based on merit</li>
            </ul>
            <h3>Round:2</h3>
            <ul>
                <li>The selected 30 participants (15 teams) will compete individually in this round.</li>
                <li>This round will be based on decoding using Base 64 technique</li>
                <li>It is a time-based round. Codes will be given to all the participants and 10 participants will qualify for the final round.</li>
                <li>Upper time limit: 1 hour</li>
            </ul>
            <h3>Round:3</h3>
            <ul>
                <li>The selected 10 participants will compete individually in this round</li>
                <li>This round will be based on encoding and decoding using Base 64 technique.</li>
                <li> The difficulty of this round will be greater than the previous round</li>
                <li>It is also time-based round. Codes will be given to all the individual participants and those who will successfully encode will be declared winners.</li>
                <li>Upper time limit: 1 hour</li>
            </ul>

        </section>
        <section>
            <h3>Rule:</h3>
            <ul>
                <li>No electronic gadgets are allowed.</li>
                <li>There will be time constraints for each round.</li>
                <li>In case of conflicts, organisers's decision will be final.</li>
                <li>Participants using unfair means during any round will be disqualified.</li>
            </ul>
        </section>
        <section>
            <h3>Judgement Criteria:</h3>
            <ul>
                <li>Round 1:90 points based on their performance in quiz. Negative marking for wrong answers.</li>
                <li>Round 2 and 3: Once the participants submit their answers they cannot change or modify any of their answers. Participants with higher marks will be selected and all ties will be settled on the basis of submission time</li>
            </ul>
            <p>The decision of the judges shall be final and binding.</p>
        </section>
        <section>
            <h3>Prize money:</h3>

            <ul>
                <li>1st prize:- Rs 3000/-</li>
                <li>2nd prize:- Rs 2000/-</li>
                <li>3rd prize:- Rs 1000/-</li>
            </ul>
        </section>

        <section>
            <h3>
                  For more info contact us at:
              </h3>
            <ul>
                <li>

                    Saumya Sharma : saumya.sharma0095@gmail.com

                </li>
                <li>
                    ShivaniKumari : mittalshivani41@gmail.com
                </li>
            </ul>


        </section>

    </div>
</div>
{% endblock %}
