{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>CEREBRO</h2>
        <section>
            <p>This event will be based on the knowledge of participants in computer domain. It will comprise of question based on programming languages(C, C++ and JAVA) as well as general question regarding computer science. This event will help in improving meta-cognitive monitoring – by giving students scores or self-assessments, they can better predict their knowledge and be more confident about what they know and what they need to know. It will help in evaluating the knowledge of students in the field of Computer Science. It will also help in emphasizing the importance of programming languages</p>
        </section>
        <section>
            <h4>Team Formation:</h4>
            <ul>
                <li>A team can have maximum of 2 students.</li>
                <li>No student can be part of more than one team. </li>
                <li>It is not necessary that the students forming a team should be from the same college. </li>
                <li>There is no restriction on the number of teams from the same college</li>
            </ul>
        </section>
        <section>
            <h4>Event format:</h4> The event will be sub-categorized into three different rounds:
            <h3>Round 1:</h3>
            <ul>
                <li>Based upon: C ,C++,Java</li>
                <li>Pattern: Multiple Choice Questions(MCQ)</li>
            </ul>
            <h3>Round 2:</h3>
            <p>
                Based upon: Oral and Buzzer round This event will be based on computer fundamentals as well as programming languages.
            </p>
            <ul>
                <li>Level 1: Question answer round</li>
                <li>Level 2: Rapid fire</li>
                <li>Level 3: Buzzer round</li>
            </ul>
            <h3>Round 3:</h3>
            <p>
                Visual round This round will consist problems based on computer hardwares as well as softwares. It will also consist of questions based on renounced personality in the field of computer.
            </p>
        </section>
        <section>
            <h3>Rules and Regulations:</h3>
            <ul>
                <li>Team should consist of two members/individual is also allowed</li>
                <li>There will be time constraints for each round</li>
                <li>Use of electronic media is not allowed.</li>
            </ul>
        </section>
        <section>
            <h3>Judgement Criteria</h3>
            <ul>
                <li> 40% of total participant will qualify for round 2</li>
                <li> 30% of participant of round 2 will qualify for round 3</li>
                <li>There will be negative marking in round 1.</li>
            </ul>
        </section>
        <section>
            <h3>Prize money </h3>
            <ul>
                <li>1st prize:- Rs 3000/-</li>
                <li>2nd prize:- Rs 2000/-</li>
                <li>3rd prize:- Rs 1000/-</li>
            </ul>
        </section>
        <section>
            <h3>
                For more info contact us at:
            </h3>
            <ul>
                <li>
                    Anuj : anujgupta.nitsri@gmail.com
                </li>
                <li>
                    Amar : amar.agrahari27@gmail.com
                </li>
            </ul>
        </section>

    </div>

</div>


{% endblock %}

<!-- {% block footer %} -->
<!-- <script src='js/jquery-1.10.2.js'></script> -->
<!-- <script src='js/jquery.velocity.min.js'></script> -->
<!-- {% endblock %} -->
