{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>Chemical Treasure Hunt </h2>
        <section>
            <h4>EVENT FORMAT:</h4>The event will consist of three rounds. Each round will have a specific format. The winner of the event will be decided in the final round:

            <ul>
                <li> Round1:Quiz related to aptitude.</li>
            </ul>

            <ul>
                <li> Round2:Crosswords and puzzle round.</li>
            </ul>

            <ul>
                <li>Round3:Hunt round</li>
            </ul>

        </section>
        <section>
            <h4>EVENT DETAILS:</h4>

            <h3>Round1:</h3>
            <ul>
                <li> A quiz would be conducted in the first round of the event, which would consist of approximately 25 questions based on General aptitude and logical reasoning to be attempted in a time limit of 30 minutes. The top 20 qualifying teams will reach the next round. </li>

            </ul>
            <h3>Round:2</h3>
            <ul>
                <li>The second round of the event would consist of crossword, based on the chemistry of class 11th and 12th and some general puzzles. Only top 8 teams will qualify.</li>

            </ul>
            <h3>Round:3</h3>
            <ul>
                <li>The last round of the event where the real hunt begins. In this round the qualifying teams from the previous round will be provided with some clues (to be revealed later), to reach a particular place and then to the next. The first team reaching the final destination will be declared the winner and so on for the 2nd and 3rd positions.</li>
            </ul>
        </section>
        <section>
            <h3>Judgement Criteria:</h3>
            <ul>
                <p> Decision of judge's panel will be final.</p>
        </section>

        <section>
            <h3>Important Dates:</h3>
            <p>The entry should be submitted latest by 22nd May, 2015.</p>
        </section>

        <section>
            <h3>Prize money:</h3>
            <ul>
                <li>1st prize:- Rs 3000/-</li>
                <li>2nd prize:- Rs 2000/-</li>
                <li>3rd prize:- Rs 1000/-</li>
            </ul>
        </section>

        <section>
            <h3>
                    For more info contact us at:
                </h3>
            <ul>
                <li>

                    Hemanshi sarangal

                </li>
                <li>
                    Saurabh Singh
                </li>
            </ul>


        </section>

    </div>
</div>
{% endblock %}
