{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>CHEM-UDAAN(CHEMICAL ROCKET)</h2>
        <section>
            <p>As the world is becoming more and more advanced in technology, an even greater amount of energy is being used to keep up with the changing requirements. At the current rate at which energy is being used, the world will shortly come to an end of fossil fuels - the world's primary energy resource. You think you can fly, think again! In our event, here you have to fly a rocket with the help of chemical reaction.</p>
        </section>
        <section>
            <h4>EVENT FORMAT:</h4>
            <h3>Round1:</h3>
            <ul>
                <li>Specify the registration id of you and your team mates in the mail.</li>
                <li>There will be general quiz and top 20 teams will be selected for next round.</li>

            </ul>
            <h3>Round:2</h3>
            <ul>
                <li>20 teams that are selected will fly their rocket and winner will be decided as per criteria mentioned.</li>
                <li>Top 10 teams of phase 2 will be given certificates.</li>
            </ul>
        </section>




        <section>
            <h3>Rule:</h3>
            <ul>
                <li>Points will be given according to the number of levels cleared by the rocket.</li>
                <li>Launching pad will be provided by us at 45° inclination.</li>
                <li>Only two chances will be given. </li>
                <li>No Trial Runs will be allowed. </li>
                <li>Participant can present his/her own design</li>
                <li>Use of any chemical or chemical reaction is allowed at your own risk. You must be aware of the hazardous effects of your chemical reaction and your chemical should not be explosive.</li>
                <li>Rubbing alcohol will be provided by us.</li>
                <li>Your rocket must fly only by the chemicals used; i.e. it should not gain power from any other source. </li>
                <li>Each level has been given points in the track diagram, so the team which collects highest points wins. </li>
                <li>Violation of any of the above rules may lead to disqualification of the team. </li>
                <li>The organizers reserve the right to change/update the rules of the contest at any point of time and will do their best to inform the participants of the same. However, it is ultimately the responsibility of the teams to keep themselves updated.</li>

            </ul>
        </section>

        <section>
            <h3>Team formation:</h3>
            <ul>
                <li>CHEM-UDAAN is open to all undergraduate and postgraduate students of engineering.</li>
                <li>A team can have maximum 2 students. </li>
                <li>No student can be part of more than one team. </li>
                <li>It is not necessary that the students forming a team should be from the same college. </li>
                <li>There is no restriction on the number of teams from the same college. </li>
            </ul>
        </section>

        <section>
            <h3>Judgement Criteria:</h3>
            <ul>
                <li>Horizontal range covered by rocket.</li>
                <li>Size of bottle.</li>
            </ul>
            <p>The decision of the judges shall be final and binding.</p>
        </section>

        <section>
            <h3>Important Dates:</h3>
            <p>The entry should be submitted latest by 22nd May, 2015.</p>
        </section>

        <section>
            <h3>Prize money:</h3>
            <ul>
                <li>1st prize:- Rs 3000/-</li>
                <li>2nd prize:- Rs 2000/-</li>
                <li>3rd prize:- Rs 1000/-</li>
            </ul>
        </section>

        <section>
            <h3>
                For more info contact us at:
            </h3>
            <ul>
                <li>
                    Avni singh :
                </li>
                <li>
                    Vikas saini :
                </li>
            </ul>
            <p>tangoseera58@gmail.com</p>
            <p>email2samaira07@gmail.com</p>
        </section>

    </div>
</div>
{% endblock %} {% block footer %}
<script src='/static/js/jquery-1.10.2.js'></script>
<script src='/static/js/jquery.velocity.min.js'></script>
{% endblock %}
