{% extends "event_layout.html" %} {% block content %}
<div class="container">

    <div class="content">
        <h2>CIRCUITRIX</h2>

        <section>
            <h4>EVENT FORMAT:</h4>
            <h3>Round1:</h3>
            <p>This round will test the basic knowledge of the circuit elements of the participants. Participant will be given a single question related to a given element. </p>
            <h3>Round2:</h3>
            <p>This will be a circuit debugging round where the filtered participants will be provided with circuit having some errors. </p>
            <h3> Round3(final round):</h3>
            <p>This will be a lucky-draw round where filtered participants will now test their luck by choosing a token and implementing the specified circuit.</p>
        </section>
        <section>
            <h3>Rule:</h3>
            <ul>
                <li> Time limit will be given at the venue for each round .</li>
                <li>Participation can be either in a group of maximum 2 members or an individual.</li>
            </ul>
        </section>
        <section>
            <h3>Prize money:</h3>
            <ul>
                <li>1st prize:- Rs 4000/-</li>
                <li>2nd prize:- Rs 2500/-</li>
                <li>3rd prize:- Rs 1500/-</li>
            </ul>
        </section>


        <section>
            <h3>
                For more info contact us at:
            </h3>
            <ul>
                <li>
                    Amit Ranjan : 8715008530
                </li>
                <li>
                    Shubham Dang : 9086413436
                </li>
            </ul>
        </section>
    </div>
</div>
{% endblock %} {% block footer %}
<script src='/static/js/jquery-1.10.2.js'></script>
<script src='/static/js/jquery.velocity.min.js'></script>
{% endblock %}
