{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>CODEMASTERS </h2>
        <section>
            <h3><b>Event Details: </b></h3>
            <p>Do you think you can code..?? Time to check..!! Get ready for the C/C++ event to test the depth of your programming skills…!!! So gear up with the knowledge and practice to become the code master. Inside every large problem is a small problem struggling to get out. Of the time a programmer spends developing an application, a large portion is usually spent debugging it.
                <br>Do you think you have the knowledge and passion to find those bugs? If your answer is yes, then this is your arena. Get down to those basics to find those pesky bugs before we need a pest control. </p>
        </section>
        <section>
            <h3><b>Event format:</b></h3>
            <h3>Round1(day-1):</h3>
            <ul>
                <li> Multiple choice questions quiz round.
                    <ul>
                        <li>Duration: 1 hour .</li>
                        <li>This is a team event. </li>
                        <li> Each team comprises of atmost 2 members. </li>
                        <li> This will be an on-paper round consisting of 35 questions. </li>
                        <li>All questions carry 1 mark each with 1/4th negative marking in case of wrong answer. </li>
                        <li> Only 10 teams will qualify for the next round. </li>
                    </ul>
                </li>
            </ul>
            <h3>Round2(day-2):</h3>
            <ul>
                <li> Rapid fire round and oral quiz round.
                    <ul>
                        <li>Duration: 1 hour .</li>
                        <li> This round contains a total of 10 questions. </li>
                        <li> All questions carry 1 mark each with 1/3rd negative marking in case of wrong answer. </li>
                        <li> Only 5 teams will qualify for the final round. </li>
                    </ul>
                </li>
            </ul>
            <h3>Round3(day-3):</h3>
            <ul>
                <li> Programming problems round.
                    <ul>
                        <li>Duration: 1.5 hour .</li>
                        <li>7 problem statements will be provided with their code. </li>
                        <li> The participants need to analyze the code or correct it. </li>
                        <li> In case of a tie, the team taking the minimum amount of time will be adjudged the winner. The judgement of the managers and co-ordinators would be final. </li>
                        <li>Top three teams will be awarded with prize money. </li>
                    </ul>
                </li>

            </ul>
        </section>

        <section>
            <h3><b>Rules:</b></h3>
            <ul>
                <li>.A team should consist of maximum 2 members. </li>
                <li> Undergraduate/Graduate students can participate in the competition. </li>
                <li> The programming language given will be C/C++. </li>
                <li> In all rounds, questions have to be answered in the stipulated time. </li>
                <li>Any kind of unfair means will lead to disqualification. </li>
                <li>Any kind of mis-behavior with the coordinators will lead to disqualification.</li>
                <li> Internet will not be provided. </li>
                <li> Use of mobile phones or other electronic media will not be permitted.</li>
                <li> Rules are subjected to change .</li>
            </ul>
            <h3><b>Arena: </b></h3>
            <p>Lecture halls and computer lab / computer center. </p>
        </section>
        <section>
            <h3><b>Judging criteria :</b> </h3>
            <ul>
                <li> 10 teams will be qualified to 2nd level based on their perfomance. </li>
                <li> 5 teams will be qualified to final stage. </li>
                <li> Winners will be decided in final round based on maximum no of solutions to given task by each teams. </li>
                <li> All the rules and regulation can be changed and subjected to Managers’ discretion only. </li>
                <li>For further information or query about the event, Email us at.</li>
            </ul>
        </section>
        <section>
            <h3><b>Prize money:</b></h3>
            <ul>
                <li>1st prize:- Rs 3000/-</li>
                <li>2nd prize:- Rs 2000/-</li>
                <li>3rd prize:- Rs 1000/-</li>
            </ul>
        </section>

        <section>
            <h3>
                <b>For more info contact us at:</b>
            </h3>
            <ul>
                <li>
                    Meenu:(singhmeenu99999@gmail.com ).
                </li>
                <li>
                    Neetu Singh:(singhneetu757@gmail.com ).
                </li>

            </ul>

        </section>


    </div>
</div>

{% endblock %}
