{% extends "event_layout.html" %} {% block content %}

<div class="container">
    <div class="content">
        <h2>CONTRAPTION</h2>
        <section>
            <h3>EVENT DETAILS:</h3>
            <li>Round One: Metallurgy and Material is all around us. Take a picture of anything you see around the campus which depicts any material properties. Send your captured picture to us. Example: Elongation, Elasticity, Rusting etc. </li>
            <li>Round Two: Strain your brain to solve the given Metallurgical crossword.
                <li>Round Three: Use maximum number of energy conversion methods to melt the given quantity of wax.</li>
        </section>

        <section>
            <h3>Rounds</h3>
            <ul>
                <li>Round 1(day 1): Picture Round</li>
                <li>Round 2(day 2)(10-11am): Metallurgical crossword</li>
                <li>Round 3(day 2)(2pm): Main and Final event</li>
            </ul>

        </section>
        <section>

        </section>
        <section>
            <h3>Event rules:</h3>
            <ul>
                <li>For 1st round: Send a picture from around the campus representing any material properties by 5 pm of day 1.</li>
                <li>For 2nd round: selected participants fromst round will be given to solve a metallurgical crossword</li>
                <li>For 3rd round: selected teams from 2nd round will be qualified to final round.</li>
                <li>All the necessary equipment for 3rd round will be provided to teams.</li>
                <li>Metallurgical crossword will be of 20 minutes duration.</li>
                <li>Each team will consist of maximum of 3 members.</li>
            </ul>
            <h3>Judging Criteria</h3>
            <ul>
                <li>20 teams will be qualified to 2nd level based on their picture.</li>
                <li>5 teams will be qualified to final stage.</li>
                <li>Winners will be decided in final round based on maximum no of solutions to given task by each teams.</li>
                <li>All the rules and regulation can be changed and subjected to Managers’ discretion only.</li>
            </ul>
        </section>
        <section>
            <h3>Prizes</h3>
            <ul>
                <li>Rs 3000 for 1st position</li>
                <li>Rs 2000 for 2nd position</li>
                <li>Rs 1000 for 3rd position</li>

            </ul>
            <h3>For more details Constact</h3>
            <ul>
                <li>Pratibhu Prashar</li>
                <li>Abhinav Banthiya</li>
            </ul>
        </section>
    </div>
</div>
{% endblock %} {% block footer %}
<script src='/static/js/jquery-1.10.2.js'></script>
<script src='/static/js/jquery.velocity.min.js'></script>
{% endblock %}
