{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>COOlING TOWER DESIGN </h2>

        <section>
            <h4>EVENT FORMAT:</h4>
            <section>
                <h3>DESCRIPTION AND SPECIFICATIONS:</h3>
                <p>Participants are expected to design a Natural Draft/Draft Cooling Tower model having the following specifications: </p>
                <ul>
                    <li>Cooling Tower Max.Dimensions = 30cms x 30cms x 30cms. </li>
                    <li>Material of Construction – No Restriction. </li>
                    <li>Maximum Dry Weight of Tower = 4kg. </li>
                    <li>Total Water Pouring Time = 30 sec. </li>
                    <li>Quantity of Water to be Cooled = 750 ml </li>
                    <li>Minimum Collection of Water at the end of run = 200 ml. </li>
                    <li>Residence Time in Tower = 150 Seconds.</li>
                    <li>Maximum Permitted Loss = 15gm. </li>
                    <li>There must be an outlet for drainage/collection, along with a valve if possible. This is a compulsory condition. </li>
                    <li>No direct addition of cooling chemicals. </li>
                </ul>
                <p>Minimum water loss will be given importance.</p>
                <p>Please Note:-If any of the above instructions are violated the participant will be disqualified and will not be allowed to participate in the event. </p>
            </section>
            <h3>Round1:</h3>
            <ul>
                <li>Elimination round:-In this round there will be quiz which will be related to chemical engineering and aptitude.</li>
            </ul>
            <h3>Round2:</h3>
            <ul>
                <li>Design round:-Top 8 teams of elimination round will qualify for this round, And they have to come up with their working model.</li>
            </ul>
        </section>
        <section>
            <h3>Rule:</h3>
            <ul>
                <li>Each participating team should comprise of maximum 3 or less members.</li>
                <li>The decision of the judges and the event head will be treated as final and binding on all. </li>
                <li>Organizer will reserve all the right to change rules.</li>
            </ul>
        </section>

        <section>
            <h3>Judgement Criteria:</h3>
            <ul>
                <li>Minimum temperature after 5 minutes of the working of the model.</li>
                <li>Maximum water collection capacity.</li>
                <li>The Material of Construction for the design.</li>
                <li>Economic Considerations of the design.</li>
                <li>Tie Breaker: In case of two models showing exactly the same drop in water temperature, preference will be given to the model which shows minimum weight loss and maximum water collection capacity.</li>

            </ul>

        </section>

        <section>
            <h3>
                For more info contact us at:
            </h3>
            <ul>
                <li>
                    Sachin verma :9086411866 Sachin.nitsri@gmail.com
                </li>
            </ul>
        </section>
{% endblock %} {% block footer %}
<script src='/static/js/jquery-1.10.2.js'></script>
<script src='/static/js/jquery.velocity.min.js'></script>
{% endblock %}
