{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>CROSSFIRE 2015</h2>
        <section>
            <h3><b>Introduction:</b></h3>
            <p>It is one of the biggest event that is going to happen in this upcoming technical festival of NIT Srinagar.World's most competitive games will be organised and a complete faceoff between some fierce opponents is surely to happen.</p>
        </section>

        <section>
            <h3><b>Event details:</b></h3>
            <p><u>Featuring Three games:</u>
            </p>
            <section>
                <h4>Counter-Strike 1.6: </h4>
                <h3>Official Maps :</h3>
                <ul>
                    <li>De_Dust2 </li>
                    <li>De_Inferno </li>
                    <li>De_Nuke </li>
                    <li>De_Train </li>

                </ul>
                <h3>General Game Setting :</h3>
                <ul>
                    <li>5v5 format.</li>
                    <li>Rounds: 30 Rounds (Max rounds format): 15 rounds as Terrorists and 15 rounds as Counter-Terrorists per team (If a team scores 16 rounds first, the match is ended immediately.) </li>
                    <li>Victory Condition: The first team to win 16 rounds.</li>
                    <li>Round Time: 1 minute 45 seconds.</li>
                    <li>The team playing as the Terrorist side first will be announced before the match or decided by coin toss.</li>
                    <li>In the case of a tie after the regulation rounds end, 6 extra rounds will be played. (3 rounds as Terrorists / 3 rounds as Counter-Terrorists per team) .</li>
                    <li>Extra Round restart money: $10,000 .</li>
                    <li>In the case of yet another tie after the 6 extra rounds, as stated above, 6 additional extra rounds will be played until the tie is broken. </li>
                    <li>The Server Master will be record the process of the match. </li>
                    <li>Approved Grenade Amounts Per Round
                        <ul>
                            <li>Flashbangs: 2 </li>
                            <li>Grenades: 1 </li>
                            <li>Smoke Grenades: 1 </li>

                        </ul>
                    </li>
                    <li>Approved Commands.
                        <ul>
                            <li>Adjust_crosshair </li>
                            <li>Left Hand </li>
                        </ul>
                    </li>

                </ul>
                <h3>Rules:</h3>
                <ul>
                    <li>Game Version: Counter-Strike 1.6 </li>
                    <li>Organizers recommends players to bring their own mouse, keyboard headphone and any other peripheral to simulate their own best playing environment. </li>
                    <li>Players must set up personal equipment within 10 minutes of the referee’s notification for set up, except for the delays caused by broadcasting or technical issues. A warning may be given for overtime, and if the player is found to be delaying the match for non-technical reasons, the referee may declare the match forfeit. </li>

                </ul>
            </section>
            <section>
                <h4>NFS MOST WANTED</h4>
                <h3>Introduction:</h3>
                <p>Most Wanted, like other Need for Speed games, is essentially a driving and racing game, where the player selects one car and races against a time limit or other racers to reach a destination.</p>
                <h3>General:</h3>
                <ul>
                    <li>Competition Method: 1 vs. 1</li>
                    <li>Host, client will be announced before the match or decided by coin toss.(Only for LAN Tournament).</li>
                    <li>Other controllers, Steering Wheel allowed.</li>
                    <li>At the end of each match, players must maintain the final screens and receive confirmation from a referee.</li>
                    <li>The use of Porsche GT and BMW M3 are NOT allowed.</li>
                    <li>Using Reverse and Accelerator simultaniously at launch to get Speedboost is not allowed. (WCG Grand Final 2006 Rules)</li>
                    <li>Car Settings -
                        <ul>
                            <li>Visual Upgrade allowed.</li>
                            <li>Part, Performance (Pro, Super Pro, Ultimate)allowed, Junkman not allowed</li>
                            <li>Personal save files are NOT allowed.</li>
                        </ul>
                    </li>
                </ul>
                <h3>Game Setting:</h3>
                <ul>
                    <li>The Course selection may be changed prior to the tournament. Players will be informed of any such changes before the tournament.</li>
                    <li>Collision Detection : Off</li>
                    <li>Performance Matching : Off</li>
                    <li>Min Num. Players : 2</li>
                </ul>
                <h3>Rules:</h3>
                <ul>
                    <li>Need for Speed: Most Wanted (1v1).</li>
                    <li>Game Version: Need For Speed: Most Wanted v1.3 English Version.</li>
                </ul>
            </section>

            <section>
                <h4>FIFA:</h4>
                <h3>Game Settings:</h3>
                <ul>
                    <li>The teams and player abilities cannot be modified.</li>
                    <li>Difficulty Level: World Class.</li>
                    <li>Half Length: 5 minutes.</li>
                    <li>Number of Substitutes: 3</li>
                </ul>

                <h3>Rules:</h3>
                <p>Tournament Method is 1 vs. 1 knock out.</p>
                <ul>
                    <li>Game Version : FIFA -13.</li>
                    <li>Game Mode: International and Club.</li>
                    <li>Team formation and the Player substitutions can be changed just for 3 times in the match.(during the 90 minutes).
                    </li>
                </ul>

            </section>

        </section>
        <section>
            <h3><b>Event format:</b></h3>
            <p><u>(For each of 3 games)</u>
            </p>
            <h3>Round1(day 1):</h3>
            <p>Play Offs/Qualifiers.</p>
            <h3>Round2(day 2):</h3>
            <p>Quarter and Semi Finals.</p>
            <h3>Round3(day 3):</h3>
            <p>Final.</p>

        </section>
        <section>
            <h3><b>Prize money:</b></h3>
            <ul>
                <li>Counter Strike(team of 5):
                    <ul>
                        <li>Winner: 12000/-</li>
                        <li>Runner Up : 8000/-</li>
                    </ul>
                </li>
                <li>Need For Speed(Individual):
                    <ul>
                        <li>Winner: 3000/-</li>
                        <li>Runner Up: 1000/-</li>
                    </ul>
                </li>
                <li>FIFA(Individual):
                    <ul>
                        <li>Winner: 3000/-</li>
                        <li>Runner Up: 1000/-</li>
                    </ul>
                </li>
                <li>Accommodations for off campus teams.</li>


            </ul>
        </section>

        <section>
            <h3><b>For more info contact us at:</b></h3>
            <ul>
                <li>Counter Strike:
                    <ul>
                        <li>Varun Dhiman</li>
                        <li>Aadesh Srivastava</li>
                        <li>Anubhav Rai</li>
                    </ul>
                </li>
                <li>NFS:
                    <ul>
                        <li>Sudheer Rana</li>
                        <li>Navpreet Singh</li>

                    </ul>
                </li>
                <li>FIFA-13
                    <ul>
                        <li>Chandra Kant Chauhan</li>
                    </ul>
                </li>
            </ul>


        </section>
    </div>
</div>

{% endblock %}
