{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>Electric Car</h2>
        <section>
            <p>With the help of this event we can aware human being about pollution that effects our whole environment, health of human being and so many things very badly. So event will force the people to think over a pollution free car(i.e.-electric car). This event is not related only with a particular branch of engineering. It mainly about the innovative ideas of participants that how he/she can implement his/her idea into a new concept that will helpful for future. In this event participants have to make a car prototype only by raw material given to them. By the help of this event participants will learn the maximum use of raw material, motor, many types of battery and how a battery works.</p>
        </section>
        <section>
            <h4>Event details</h4>
            <h3>Round: - 1</h3>
            <p>
                This round will be a quiz round. In the quiz question is based upon basic electrical engineering. (10 to 15 teams will go in 2nd round)
            </p>
            <h3>
            Round: - 2	
            </h3>
            <p>
                In this round participants have to make a car with raw material at their own place. First of all participants have to show their car to judging team. After this, a race will be conducted.
            </p>
            <p>Only 9 volt battries are allowed.</p>
        </section>
        <section>
            <h4>
        	REGISTRATIONS		
        	</h4>
            <ul>
                <li>Registration is open to all UG and PG students. </li>
                <li>Registration is free of cost. </li>
                <li>Team from outside can also register and participate in the event.</li>
            </ul>
        </section>
        <section>
            <h4>
        	Rules	
        	</h4>
            <ul>

                <li>Each team will have maximum of 3 members.</li>
                <li>Quiz competition will be MCQ type test based on Basic Electrical Engineering.</li>
                <li>Judge’s decision should be obeyed sincerely & winning criterion is subjected to change.</li>
                <li>1st round qualifiers will be decided by marks obtained in quiz round and in final round winners will decided by their perfornmance</li>
            </ul>
        </section>
        <section>
            <h4>Prize</h4>
            <ul>
                <li>1st place - 2100 Rs. </li>
                <li>2nd place- 1100 Rs. </li>
                <li>3rd place - 500 Rs. </li>
            </ul>
        </section>
        <section>
            <h4>For More Details Contact:-</h4>
            <ul>
                <li>Chirag gupta (9086664087) chiragmangal4444@gmail.com</li>
                <li>Ajay singh meena (8716951671) ajaymeena182@yahoo.com</li>
            </ul>
        </section>

    </div>
</div>
{% endblock %} {% block footer %}
<script src='/static/js/jquery-1.10.2.js'></script>
<script src='/static/js/jquery.velocity.min.js'></script>
{% endblock %}
