{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>Element 15'</h2>
        <section>
            <h3><b>Introduction:</b></h3>
            <p>An event based on innovation and creativity of mind with the uses of scrap materials and to show that worth beauty can be carved out of worthless. Teams have to makwe a particular shape as demanded . you can use weldind ,joining ,fluxex and any other joining equipment.</p>
            <p>Be as innovative as you people can . the basic requirement is to make that very specimen with scrap as demanded.</p>
            <p>Its a game of "time balance ,creativity and process awareness"</p>
            <p>A platform to design your imagination .</p>
        </section>
        <section>
            <h3><b>Event format:</b></h3>
            <p>A team of two individuals will be made for the event and they’ll be put through two stages to test their creativity , innovation and team work. The final result will be based on scores given by judges.</p>
            <h3>Round1:</h3>
            <p>Preliminary written quiz round with details as follows:-</p>
            <ul>
                <li>Topic: Basic materials engineering concepts.</li>
                <li>No. of questions: 50.</li>
                <li>Time allotted: 60 minutes.</li>
            </ul>
            <p>Top 8 teams will be selected for next and final round based upon the scores in above round. </p>
            <h3>Round2:</h3>
            <p>For this round the teams will be provided by scrap material of equivalent amount and will be allotted 1.5 hours to complete the task which is to create anything worthy and innovative and will have to give presentation on that. WELDING process can also be used.
            </p>
        </section>
        <section>
            <h3><b>Rules:</b></h3>
            <ul>
                <li>All the necessary equipment for 2nd round will be provided to teams.</li>
                <li>Each team will consist of maximum of 2 members.</li>
                <li>Top 8 teams will be qualified to final stage.</li>
                <li>Winners will be decided in final round based on Best innovation, Best creativity and Best fabrication/ presentation.
                </li>
                <li>All the rules and regulation can be changed and subjected to Managers’ discretion only.</li>
            </ul>
        </section>
        <section>
            <h3><b>Judging criteria:</b></h3>
            <ul>
                <li>Best innovation.</li>
                <li>Best creativity.</li>
                <li>Best fabrication/presentation.</li>
            </ul>
        </section>
        </section>

        <section>
            <h3><b>Prize money:</b></h3>
            <ul>
                <li>1st prize:- Rs 3000/-</li>
                <li>2nd prize:- Rs 2000/-</li>
                <li>3rd prize:- Rs 1000/-</li>
            </ul>
        </section>


        <section>
            <h3>
                <b>For more info contact us at:</b>
            </h3>
            <ul>
                <li>
                    Farah Magray :
                </li>
                <li>
                    Anmol Alawadhi :
                </li>
            </ul>

        </section>


    </div>
</div>
{% endblock %}
