{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>FREE ENERGY GENERATOR</h2>
        <section>
            <p>These days, more and more are become interested in free-energy. Free energy means energy sources for which we don’t have to pay or you have to pay very low amounts. This event is all about ideas and innovations that how are implemented in order to mere sustainable free energy device by which we get maximum output with minimum input and this thing is known as zero cost energy or free energy. It is process of generation of electrical energy that is almost free of cost, with the help of electrical and electronic circuitry. The basic concept of generation of free electricity is with the help of magnetic imbalancing and magnetic locking properties. The Magnetic motor has no coils hence no power losses and hence can be used as free energy generator. we can genrate small level power through free energy model.</p>
        </section>
        <section>
            <h4>Rounds</h4>
            <h3>Round 1</h3>
            <ul>
                <li>Technical quiz based on Basic Electrical Principal, Magnetic Property,Energy and General Aptitude etc.</li>
                <li>There will be 20 questions and participants will have 30 min time to solve questions.</li>
                <li>After 1st round, we will select 10 teams.</li>
            </ul>
            <h3>Round 2</h3>
            <ul>
                <li>All the selected teams will carry their free energy model with proper explanation.</li>
                <li>Participants must submit their model 4pm 23/5.</li>
            </ul>
        </section>
        <section>
            <h4>MATERIALS REQUIRED</h4>
            <p>Neodymium Magnet, Copper Wire, LED Bulbs, Motor(1/4 HP), Capacitor, Woodden Base, Nails etc.</p>
            <h4>JUDGING CRITERIA </h4>
            <p>Voltage & Accuracy.</p>
            <h4>
                JUDGING AUTHORITY
            </h4>
            <p>
                The model developed will be judged by the faculty of Electrical Engineering Department and Electronics and Communication Department.
            </p>
        </section>
        <section>
            <h4>For more information contact:</h4>
            <ul>
                <li>Vivek Vikram Singh (140/12)</li>
                <li>Kumar Ayush (272/12)</li>
                <li>Mukund Kumar (184/12)</li>
            </ul>
        </section>
    </div>
</div>
{% endblock %} {% block footer %}
<!-- <script src='/static/js/jquery-1.10.2.js'></script> -->
<!-- <script src='/static/js/jquery.velocity.min.js'></script> -->
{% endblock %}
