{% extends "event_layout.html" %} {% block content %}
<div class="container">

    <div class="content">
        <h2>JAl SHUDHTA</h2>
        <section>
            <p>Water conservation means protecting our water from pollution and being wasted. It is important because plants, humans and animals all need water to survive. Without water, the earth would have no life. Water, unlike many other things, cannot be manufactured in a factory. When we lose water, it is gone forever. Here student have to remove the impurities (decided by us and told by us before event) from contaminated water.</p>
        </section>

        <section>
            <p>Jal Shudhta is open to all undergraduate and postgraduates students of engineering.</p>
        </section>
        <section>
            <h4>EVENT FORMAT:</h4>
        </section>

        <section>
            <h3>Round1:</h3>
            <ul>
                <li>Specify the registration id of you and your team mates in the mail.</li>
                <li>There will be a quiz based on logical reasoning and water purification held for 30 minutes.</li>
                <li>Top 10 teams will be selected for next round.</li>
            </ul>
        </section>

        <section>
            <h3>Round2:</h3>
            <ul>
                <li>10 teams that are selected will go for purifying process and winner will be decided as per criteria mentioned.</li>
                <li>Top 5 teams of phase 2 will be given certificates.</li>
            </ul>
        </section>

        <section>
            <h3>Team formation:</h3>
            <ul>
                <li>A team can have maximum 4 students but not more than 2 members from particular team are allowed to sit in the quiz round.</li>
                <li>No student can be part of more than one team.</li>
                <li>It is not necessary that the students forming a team should be from the same college.</li>
                <li>There is no restriction on the number of teams from the same college.</li>
            </ul>
        </section>

        <section>
            <h3>Rule:</h3>
            <ul>
                <li>Points will be given according to the number of impurities removed by you. </li>
                <li>Maximum time limit to remove impurities will be 2 hours.</li>
                <li>No Trial Runs will be allowed. </li>
                <li>Participants can make use of other chemicals but use of any instrument is not allowed.</li>
                <li>Use of any chemical or chemical reaction is allowed keeping health and quality of water in view.</li>
                <li>Each level has been given points in the track diagram, so the team which remove maximum impurities wins. </li>
                <li>Violation of any of the above rules may lead to disqualification of the team. </li>
                <li>The organizers reserve the right to change/update the rules of the contest at any point of time and will do their best to inform the participants of the same. However, it is ultimately the responsibility of the teams to keep themselves updated.</li>
            </ul>
        </section>

        <section>
            <h3>Judgement Criteria:</h3>
            <ul>
                <li>The teams will be ranked on the basis of the number of impurities removed by the team under the time taken.</li>
                <li>Points will be given on the basis of:
                    <ul>
                        <li>Weight of iron fillings removed</li>
                        <li>Weight of precipitate formed</li>
                        <li>Weight of clay removed</li>
                        <li>Volume of oil removed</li>
                        <li>Maintaining pH near 7</li>
                        <li>Extent of decolourisation of water</li>
                    </ul>
                </li>
                <li>If 2 or more teams have same points then amount of purified water obtained will be the winning factor.</li>
                <li>Certificates will be given to top 5 teams.</li>
                <li>Results will be announced next day i.e on 23rd may.</li>
            </ul>
            <p>The decision of the judges shall be final and binding.</p>
        </section>

        <section>
            <h3>Important Dates:</h3>
            <p>The entry should be submitted latest by 22nd May, 2015.</p>
        </section>

        <section>
            <h3>Prize money:</h3>
            <ul>
                <li>1st prize:- Rs 3000/-</li>
                <li>2nd prize:- Rs 2000/-</li>
                <li>3rd prize:- Rs 1000/-</li>
            </ul>
        </section>

        <section>
            <h3>
                For more info contact us at:
            </h3>
            <ul>
                <li>
                    Surbhi goswami :
                </li>
                <li>
                    Seema tomer:
                </li>
            </ul>
        </section>

    </div>
</div>
{% endblock %}
