{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>Junkyard Wars</h2>
        <section>
            <p>The most successful event of Techvaganza 2014 is back. Unleash your creative side and let your abilities be known to the world. Create something useful from junk within the stipulated time period and win cash prizes. Techvaganza 2015 Junkyard Wars
            </p>
        </section>
        <section>
            <h4>EVENT DETAILS  :</h4>
            The event will consist of three rounds. Each round will have a specific format. The winner of the event will be decided in the final round:
            <h3>Round1:</h3>This round will consist of a multiple choice question paper having questions related to the following sections:-
            <ul>
                <li> Basic Mechanics </li>
                <li> Technical Aptitude</li>
                <li> Logical and Analytical Thinking</li>
                <P>This section will be relatively easy and will be used as a screening method for candidates. The selected teams Round 2.will proceed to </p>
            </ul>
            <h3>Round:2</h3>
            <ul>
                <li>In Rounds 2 and 3, the participants will have to build a working model from the junk provided to them. The working model should be based on the problem statement given to the teams. The problem statement will be provided to the teams at the time of the event.</li>

            </ul>

        </section>
        <section>
            <h3>Rule:</h3>
            <ul>
                <li> A team can have a maximum of five members</li>
                <li>Scrap of all sorts will be given</li>
                <li> Use of articles other than those provided by organisers will lead to disqualification</li>
                <li> The model will have to be completed in the stipulated time period. No extra time will be given. The time duration will be given on the spot.</li>
                <li> The score obtained in the preliminary round will be the sole criteria for entry into the second round.</li>
                <li> The call of the judges is final and no further arguments will be entertained.</li>
            </ul>
        </section>


        <section>
            <h3>Judgement Criteria:</h3>
            <ul>
                <li>Design: The team with the better design will be awarded more points.
                </li>
                <li> Finishing: The team with the better working model (In terms of finishing) will be awarded more points.</li>
                <li> Creative Thinking: Out of the box thinking will be awarded more points</li>
                <li>Adherence to problem statement: The team with the working model that best satisfies the given problem statement will be awarded more points.</li>
                <li> Efficient use of resources: The team that uses the allotted resources efficiently and judiciously will be awarded more points. </li>
            </ul>
            <p>The decision of the judges shall be final and binding.</p>
        </section>

        <section>
            <h3>Important Dates:</h3>
            <p>The entry should be submitted latest by 22nd May, 2015.</p>
        </section>

        <section>
            <h3>Prize money:</h3>
            <ul>
                <li>1st prize:- Rs 3000/-</li>
                <li>2nd prize:- Rs 2000/-</li>
                <li>3rd prize:- Rs 1000/-</li>
            </ul>
        </section>

        <section>
            <h3>
                    For more info contact us at:
                </h3>
            <ul>
                <li>

                    Sarvesh Langer (Email: sarveshlangergupta@gmail.com) Contact no. – 09796607171

                </li>
                <li>
                    Vishal Singh (Email: vishnit311993@gmail.com) Contact no. - 08715008447

                </li>
            </ul>


        </section>

    </div>
</div>
{% endblock %}
