<!-- {% extends "event_layout.html" %} {% block content %} -->

<div class="container">

    <div class="content">
        <h2>Kriti-Vkriti</h2>
        <section>
            <h3><b>Introduction:</b></h3>
            <p>An event based on innovation and creativity of mind with the uses of casting and moulding and to show that how perfectly you can make a mould. We want to check how you observe things ?
                <br>How balanced your team is ?
                <br>An event regarding casting in which pattern will be given and you have to make that casting.</p>
        </section>
        <section>
            <h3><b>Event format:</b></h3>
            <p>A team of two individuals will be made for the event and they’ll be put through three stages to test their Knowledge, innovation and team work. The final result will be based on scores given by judges.</p>
            <h3>Round1:</h3>
            <ul>
                <li>Preliminary multiple choice quiz round with details as follows:-
                    <ul>
                        <li>Topic : Basic general knowledge.</li>
                        <li>No. of questions : 30</li>
                        <li>Time allotted : 45 minutes.</li>
                    </ul>
                </li>
            </ul>
            <p>Top 12 teams will be selected for next round based upon the scores in above round.</p>
            <h3>Round2:</h3>
            <ul>
                <li>Buzzer round:-
                    <p>Topic: Workshop Technology.</p>
                </li>
            </ul>
            <p> Top 6 teams will be selected for final round on the basis of scores of this round.</p>
            <h3>Round3:</h3>
            <p>For this round the teams will be provided by sand, different casting equipments And will be allotted 1.5 hours to complete the task which is to create a mould Of pattern given to them.</p>
        </section>
        <section>
            <h3><b>Rules:</b></h3>
            <ul>
                <li>All the necessary equipment for 3rd round will be provided to teams.</li>
                <li>Each team will consist of maximum of 2 members.</li>
            </ul>
        </section>
        <section>
            <h3><b>Judging criteria:</b></h3>
            <ul>
                <li>Top 12 teams will be qualified to 2nd level based on their scores.</li>
                <li>Top 6 teams will be qualified to final stage.</li>
                <li>Winners will be decided in final round based on Quick handwork and Best fabrication/presentation.</li>
                <li> All the rules and regulation can be changed and subjected to Managers' discretion only.</li>
            </ul>
        </section>
        <section>
            <h3><b>Prize money:</b></h3>
            <ul>
                <li>1st prize:- Rs 3000/-</li>
                <li>2nd prize:- Rs 2000/-</li>
                <li>3rd prize:- Rs 1000/-</li>
            </ul>
        </section>


        <section>
            <h3>
                <b>For more info contact us at:</b>
            </h3>
            <ul>
                <li>Farah Magray :</li>
                <li>Mahima Bhuria :</li>
            </ul>

        </section>

    </div>
</div>
{% endblock %}
