{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>LOGO FAD</h2>
        <section>
            <h4>Description:</h4>
            <p>As we all know techvaganza is striking up from 22nd . But for all those who want to stay ahead of time here is LOGO FAD.
                <br>Do not let others overtake you. Energize your gray cells and make the best from you come out.
                <br>An event with NO restriction of time. Unleash your hidden skills, let the world know your talent. Combine your
                <br>creativeness and imagination. Make a masterpiece on theme techvaganza. and send it now.</p>
            <p> #Kindly send all your entries at : <b>logofad@gmail.com</b>
            </p>

        </section>
        <section>
            <h3>Event format :</h3>
            <ul>
                <li>Logo Designing (On Theme techvaganza ). </li>
                <li>Arena : National event [Purlely online].</li>
            </ul>
        </section>

        <section>
            <h3>Rules:</h3>
            <ul>
                <li>Participants have to mail their entries (designed logos) to the given email id.</li>
                <li>Shortlisted entries will be uploaded on our facebook page.</li>
                <li>Participants are allowed to post more than one entries.</li>
                <li>Participants can use any tool as per their choice and interest.</li>
                <li>The decision of judges will be final and no further arguments will be entertained.</li>
                <li>Plagiarised entries will be discarded.</li>

            </ul>
        </section>

        <section>
            <h3>Judging criteria:</h3>
            <p>Winners will be decided on the basis of the following weightages:</p>
            <ul>
                <li>80% weightage to the no. of likes on facebook.</li>
                <li>20% weightage will be decided by the judges ( based on the creativeness of logo ).</li>

            </ul>
            <h3>Note:</h3>
            <p>The weightage would be given to originality and innovativeness corresponding to technical correlation to the techvaganza.</p>
        </section>

        <section>
            <h3>Prize money:</h3>
            <ul>
                <li>1st prize:- Rs 3000/-</li>
                <li>2nd prize:- Rs 2000/-</li>
                <li>3rd prize:- Rs 1000/-</li>
            </ul>
        </section>

        <section>
            <h3>
                For more info contact us at:
            </h3>
            <ul>
                <li>Rohitas kumar : 9086413455 (rohitas029@gmail.com)</li>
                <li>Gaurav kumar : 9086413688 (g.gkcse@gmail.com)</li>

            </ul>
        </section>
    </div>
</div>
{% endblock %}

