{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>MagTech Lifting</h2>
        <section>
            <p>Electromagnetic lifting uses electromagnets coupled with pulley and motor assembly. It has a significant role in steel industries, dockyard for shipment purpose, etc. Use of electromagnetic crane has reduced human effort and work time manifolds. Earlier cranes which have used hooks for lifting purpose had many disadvantages such as more time, extra human effort and risk to human life. The event is all about making strong electromagnet and managing pulleys with it. The participating teams have to build an electromagnet based crane. Motors, pulleys, coil wire and other necessary material will be provided to 2nd round qualifiers. Based upon team’s knowledge (choosing suitable core material and dimensions), they have to build electromagnet of good strength and couple it with pulley-motor assembly.</p>
        </section>
        <section>
            <h4>EVENT FORMAT:</h4>
            <ul>
                <li>Event will be of two days.</li>
                <li>Quiz competition will be held on first day.</li>
                <li>Top 10 teams shall qualify to round 2 on second day.</li>
                <li>Round 2 will involve making electromagnetic crane.</li>
                <li>Team to lift maximum weight up to same reference height will win.</li>
            </ul>
        </section>
        <section>
            <h4>RULES & REGULATIONS:</h4>
            <ul>
                <li>Each team will have maximum of 3 members.</li>
                <li>3 trials will be given to each team in case it fails to perform task in 1st trial.</li>
                <li>Quiz competition will be MCQ type test based on Basic Electrical Engineering.</li>
                <li>Judge’s decision should be obeyed sincerely & winning criterion is subjected to change.</li>
            </ul>
        </section>
        <section>
            <h4>Prize</h4>
            <ul>
                <li>1ST Prize = 2,500/-</li>
                <li>2nd Prize = 1,500/-</li>
                <li>3rd Prize = 1,000/-</li>
            </ul>
            <h4>For more details contact:</h4>
            <ul>
                <li>SUBHODEEP SINGH GAHLOT 9596512523</li>
                <li>PUSHPENDRA SHARMA 9086462598</li>
            </ul>
        </section>
    </div>
</div>
{% endblock %} {% block footer %}
<script src='/static/js/jquery-1.10.2.js'></script>
<script src='/static/js/jquery.velocity.min.js'></script>
{% endblock %}
