{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>METTLE</h2>
        <section>
            <h4>Event format:</h4>
            <ul>
                <li>Stage 1 – General awareness aptitude quiz.</li>
                <li>Stage 2 – Multiple choice questions related to Basic Metals & Materials.</li>
                <li>Stage 3 – Practical performing concept of magnetization of material.</li>
            </ul>
        </section>
        <section>
            <h3>Prize</h3>
            <ul>
                <li>1st Prize : Rs 3000</li>
                <li>2nd Prize : Rs 2000</li>
                <li>3rd Prize : Rs 1000</li>
            </ul>
        </section>
        <section>
            <h3>Rules & Regulation : </h3>
            <ul>
                <li>Each team contain maximum 2 candidates. </li>
                <li>No electronic gadgets like calculator, mobile phone etc are not allowed.</li>
                <li>If any wrong activities found in event then that group will be eliminated. </li>
            </ul>
        </section>
        <section>
            <h3>Judging Criteria :</h3>
            <ul>
                <li>Stage 1 : Top 10 teams are selected according to their performance in round 1. </li>
                <li>Stage 2 : Top 5 teams are selected for the next & final round. </li>
                <li>Stage 3 : This is the final round. The team who performed the tast very well within time limit will be winner. </li>
            </ul>
        </section>
        <section>
          <h3>For more info, contact:</h3>
          <ul>
            <li>Gautam Kumar (9086423279)</li>
            <li>Himanshu Gupta (9906618091)</li>
            <li>G Madhusudhan (7298363793)</li>
          </ul>
        </section>  

    </div>
</div>
{% endblock %}
