{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>MODSHIP</h2>
        <section>
            <p>Man has always been a servant to his environment….amazed by how things around him work and persevere to make a better future…!
            So here you have a purpose…To analyze, perform and coordinate with others to test your skills and innovation.
            Explore your inner psyche and plung into the depths of Innovation, Knowledge, Creativity and Fun.
            </p>
        </section>
        <section>
            <h4>Team Formation:</h4>
            <ul>
                <li>A team can have maximum of 2 students.</li>
                <li>No student can be part of more than one team. </li>
                <li>It is not necessary that the students forming a team should be from the same college. </li>
                <li>There is no restriction on the number of teams from the same college</li>
            </ul>
        </section>
        <section>
            <h4>Event format:</h4> The event will be sub-categorized into three different rounds:
            <h3>Round 1:</h3>
            <ul>
                <li>A Quiz based on Aptitude, Reasoning and General Knowledge</li>
            </ul>
            <h3>Round 2:</h3>
            <ul>
                <li>Creative Drawing Session…..!</li>
            </ul>
            <h3>Round 3:</h3>
            <ul>
                <li>
                    Ship Model Making on the spot….the Real test…!
                </li>
            </ul>
        </section>
        <section>
            <h3>Rules and Regulations:</h3>
            <p>Registration can be done by mailing the name and enroll of the team participants on civilengineersnitsri2013@gmail.com or by contacting the organizers (details given below)</p>
            <ul>
                <li>Each Team should comprise of 2 to 3 participants</li>
                <li>Candidates found using Mobile phones or any other electronic gadgets will be eliminated on the spot.</li>
                <li>MCQs cum Objective questions based on General Science, Aptitude, Current Affairs, etc. will be asked in Quiz </li>
                <li>Top rankers will be selected in first stage &amp second stage on the basis of points obtained in quiz &amp drawing respectively.</li>
                <li>Chart paper will be provided in the 2nd stage &amp participants have to bring   pencils, eraser, drafter or scale or etc. (required for drawing) own self.</li>
                <li>All the required material will be provided in 3rd stage by us.</li>
                <li>Every Stage will be judged by Senior Professors/ Faculty members and points will be allocated likewise.</li>
                <li>Organizers decision will be final and binding in any dispute.</li>
                <li>Organizers reserve the right to change any of the above rules or rules displayed on website they deem to be fit.</li>
            </ul>
        </section>
        <!--<section>
            <h3>Judgement Criteria</h3>
            <ul>
                <li> 40% of total participant will qualify for round 2</li>
                <li> 30% of participant of round 2 will qualify for round 3</li>
                <li>There will be negative marking in round 1.</li>
            </ul>
        </section>-->
        <section>
            <h3>Prize money </h3>
            <ul>
                <li>1st prize:- Rs 3000/-</li>
                <li>2nd prize:- Rs 2000/-</li>
                <li>3rd prize:- Rs 1000/-</li>
            </ul>
        </section>
        <section>
            <h3>
                For more info contact us at:
            </h3>
            <ul>
                <li>
                   Rajesh : rajirajesh6464@gmail.com
                </li>
                <li>
                    Akshay : 8715967879  
                </li>
            </ul>
        </section>

    </div>

</div>


{% endblock %}

{% block footer %}
<script src='js/jquery-1.10.2.js'></script>
<script src='js/jquery.velocity.min.js'></script>
{% endblock %}
