{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>PUSH THE CODE</h2>
        <section>
            <h3><b>Introduction:</b></h3>
            <p>"If you want something new, you have to stop doing something old"     <sub>-Peter F. Dracker</sub></p>
            <p>You have been using apps at the comfort of your rooms. Its time to get wings and FLY on the CLOUD. Battle other teams through the hurdles and reach the finale to develop an app and deploy it on the CLOUD for the world to judge. Let’s generate the next Trendsetter App. </p>
        </section>

        <section>
            <h3><b>Event format:</b></h3>
            <h3>Round1:</h3>
            <p>Aptitude and basic java.</p>
            <h3>Round:2</h3>
            <p>Cut Short:optimization of code.</p>
            <h3>Round3:</h3>
            <p>Application Development(in java) and Cloud deployment.</p>
        </section>
        <section>
            <h3><b>Event details:</b></h3>
            <h3>Problem Statement:</h3>
            <p>Develop code in java and push the same code on cloud. The most efficient and optimized code will have the upper hand.</p>
            <h3>Event Description:</h3>
            <h3>Round1(cut-short): </h3>
            <p>This is the qualifier round where the questions will be based on general java programming and technical aptitude. The paper type will be objective and participants are required to choose the correct alternative among the four choices, 15 teams will move on to the next round.</p>
            <h3>Round2(The optimizer):</h3>
            <p>Race other teams to develop the most efficient and optimized code to solve the given problem. Only the best 7 shall make it to the finale.</p>
            <h3>Round3:(Make It LIVE):</h3>
            <p>Build a web app in Java based on a given problem statement and deploy it to the cloud. See your app going live and accessed all over the world.</p>

        </section>
        <section>
            <h3>Rules:</h3>
            <ul>
                <li>Each team must consist of 2 members only.</li>
                <li>Participants are supposed to bring laptops of their own for stage 2 and stage 3.</li>
                <li>Use of internet, mobile phones during the event is strictly prohibited in stage 1.</li>
                <li>Every stage has its own marking value.</li>
                <li>The decision of the organisers stands final in any case of dispute.</li>
            </ul>
            <h3>Note:</h3>
            <p>Violation of any of the above rules will directly cause disqualification of the team. </p>
        </section>
        <section>
            <h3><b>Judging criteria:</b></h3>
            <h3>Round1:</h3>
            <p>Top 15 teams shall be selected based on the scores they gain in the quiz. </p>
            <h3>Round2:</h3>
            <p>Top 7 teams shall be selected based on the efficiency of their code.</p>
            <h3>Round3:</h3>
            <p>Point criteria of this round will be anonymous based on the jury member.</p>
        </section>
        <section>
            <h3><b>Prize money:</b></h3>
            <ul>
                <li>1st prize:- Rs 3000/-</li>
                <li>2nd prize:- Rs 2000/-</li>
                <li>3rd prize:- Rs 1000/-</li>
            </ul>
        </section>
        <section>
            <h3>
               <b> For more info contact us at:</b>
            </h3>
            <ul>
                <li>
                    Aditya Gupta : 9622131800
                </li>
                <li>
                    Akshay Dwivedi : 9596168629
                </li>
            </ul>

        </section>

    </div>
</div>
{% endblock %}