{% extends "event_layout.html" %} {% block content %}

<div class="container">
    <div class="content">
        <h2>Reverse Engineering</h2>
        <section>
            <p>This event is based upon the idea of demonstration of electrical devices and electric machine circuit. This event will help the participants to understand the functioning and connections of many machine circuit.</p>
        </section>
        <section>
            <h4>Rounds</h4>
            <h3>Round 1.</h3>
            <p>Round 1 will be a quiz round. Question will be based upon basic electrical engineering (PEE). (10 teams will go in 2nd round).</p>
            <h3>Round 2</h3>
            <p>In this round some electrical devices will be given to the participants and they have to identify it and also demonstrate some specification of the device that is given to them. (5 teams will go in 3rd round).</p>
            <h3>Round 3</h3>
            <p>In this round some connection will be shown. A particular time (about 1 or 2 minutes)will be given to them to observe and understand these connections. After this, connections will be removed by organizing team and now participants have to reconnect all the connections properly.
            </p>
        </section>

        <section>
            <h4>Rules</h4>
            <ul>
                <li>Round-1:- Based on the quiz , only a particular number of teams will qualify for the second round.</li>
                <li>Round-2:- Participants to identify given electronics and electrical devices with in given maximum time limit.</li>
                <li>Round-3:- Participants cannot use any sort of stationary to remember the connections.</li>
            </ul>
            <h4>
            Judging criteria:-
            </h4>
            <ul>
                <li>Round-1:- Teams qualified will be on basis of marks obtained in quiz.</li>
                <li>Round-2:-The winning team will be decided by the time taken by the team to identify the given electrical and electronics devices and the description of the devices given to them. Quality of the demonstration will be judged by the organizing team.</li>
                <li>Round-3:- The winning team will be decided by the time taken by the team to reconnect the circuit. In case the tie between two or more teams then marks will be added of quiz round.</li>
                <li>In case of any irregularities the decision of the organizing team will be final.</li>
            </ul>
        </section>
        <section>
            <h4>For more details contact:</h4>
            <ul>
            <li>Ravi Kant paliwal :9086413256</li>
            <li>Sandeep Kumar jangid :7298918294 </li>
            </ul>
        </section>
        <section></section>
        <section></section>
    </div>
</div>
{% endblock %} {% block footer %}
<script src='/static/js/jquery-1.10.2.js'></script>
<script src='/static/js/jquery.velocity.min.js'></script>
{% endblock %}
