{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>Robomagellan</h2>

        <section>
            <p><b>(Build your own wired or wireless robot and be ready for race with mechanically based obstacle.)</b>
            </p>
            <h3><b>Introduction :</b></h3>
            <pre> <p>"It takes two flints to make a fire "     -Lousia May Alcott</p></pre>
            <p>Human existence is broadly classified into three categories – Dependence, Independence and Interdependence. Man is a social animal and so dependence as well as independence is insufficient to harness the utmost capabilities among us.
                <br>Time to buckle up for something innovative .The strength of the team is each individual member, the strength of each member is the team. Be ready to coordinate with members in the arena where your comprehensive skills will be put to test.</p>

        </section>
        <section>
            <h3><b>Event format:</b></h3>
            <p>Build a manual wired (no need of programming based robot) or a wireless bot capable of traversing the uneven and erratic realms in the way and reach the final line in minimum time.</p>
        </section>
        <section>
            <h3><b>Event details:</b></h3>
            <h3>Problem statement:</h3>
            <p>Going through a highway with all your speed proves nothing. But your speed through our arena is all that you can prove. So get ready with your own creation of wired or a wireless robot which can prove its ability. Prove your speed by completing the least time possible.</p>
            <h3>Bot specification:</h3>
            <p>Bot should fit in a box of 25cm*25cm*25cm at start of the event and should weigh less than 2 kgs.</p>

        </section>
        <section>
            <h3>Rules:</h3>
            <ul>
                <li>Motor should be D.C. Motor from 9 to 12 Volt.</li>
                <li>Team members will not be allowed to touch any part of arena, only organizer are allowed to handle the arena in any situation, the team will be disqualified whose member found touching arena.</li>
                <li>Each team can have 2 to 4 participants.</li>
                <li>You are not allowed to make any changes to your bot once the game has started.</li>
                <li>Participants are not allowed to keep anything inside arena other than the bot. Power supply must be outside of the arena.</li>
                <li>The time measured by organizers will be final and used for scoring of the teams. Time measured by participants is not acceptable for scoring.</li>
                <li>Organizing team will not be responsible for any kind of damage to your bot.</li>
                <li>Any team which is not able to complete the task, whose scoring will be done using judging criteria.</li>
                <li>Organizers decision will be final and binding in case of any dispute.</li>
                <li>Organizers reserve the right to change any of the above rules they deems to be fit. Any change in above rules displayed on the website.</li>

            </ul>
            <h3>Arena:</h3>
            <p>Arena will be shown on the spot. But here is some idea that the arena will be some mechanically based obstacle.</p>
        </section>
        <section>
            <h3><b>Judging criteria:</b></h3>
            <p>There will be 500 base points.</p>

            <ul>
                <li>
                    <h3>Awards:</h3>
                    <ul>
                        <li>Crossing the rotating rods: 50 points.</li>
                        <li>Placing the block present and make a way: 50.</li>
                        <li>Passing through tunnel : 100 points.</li>
                        <li>Passing over the bridge: 100 points.</li>
                    </ul>
                </li>
                <li>
                    <h3>Negatives:</h3>
                    <ul>
                        <li>Manual Touching: 40 points.</li>
                        <li>Collision with rotating rod: 20 points.</li>
                        <li>Touching Obstacle: 30 points.</li>
                        <li>Restart: 50 points.</li>
                    </ul>
                </li>
                <li>
                    <h3>Formula:</h3>
                    <p>500 + AWARDS - T -NEGATIVES
                        <br>T= Time in seconds taken to complete the arena. </p>
                </li>
            </ul>

        </section>
        </section>

        <section>
            <h3><b>Prize money:</b></h3>
            <ul>
                <li>1st prize:- Rs 3000/-</li>
                <li>2nd prize:- Rs 2000/-</li>
                <li>3rd prize:- Rs 1000/-</li>
            </ul>
        </section>


        <section>
            <h3>
                <b>For more info contact us at:</b>
            </h3>
            <ul>
                <li>Punit Chainwal : 9086413421 (punit.chainwal@gmail.com)</li>
                <li>Nikhil Maheshwari :9086411092</li>
                <li>Rohit Kumar Jangir : 8491852888</li>
            </ul>

        </section>





    </div>
</div>
{% endblock %}