{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>ROBOTHON(Wireless BOT Race)</h2>
        <section>
            <p>By using-Bluetooth (Android App and Laptop) or RF Module</p>
        </section>
        <section>
            <h3><b>Event format:</b></h3>
            <h3>Initial stage:</h3>
            <p>Workshop regarding the robotics(basics and wireless communication) will be given to the students for the event and will be provided by the Kit and modules. After proper guidance students will fight in the following round:-</p>
            <h3>Round1:</h3>
            <p>Wireless robot race without obstacles.</p>
            <h3>Round2:</h3>
            <p>Advance robot race including obstacles and tunnels.</p>
        </section>
        <section>
            <h3><b>Event detalis:</b></h3>
            <ul>
                <li>Selected teams will fight in 1st and 2nd round in which 1st round will be free from obstacles while 2nd round will be full of hurdles.</li>
                <li>Qualifying students from the first round will fight in the advance round in the provided arena.</li>
                <li>On the basis of rounds winners will be selected on the basis of time and accuracy in respective rounds.</li>
            </ul>
        </section>

        <section>
            <h3><b>Rules</b> (Regarding Software and Hardware) :</h3>
            <ul>
                <li>Programming should be done on AVR STUDIO.</li>
                <li>A participating team will be guided only twice during the competition by the organizers.</li>
                <li>Microcontroller IC should be only 8051 and ATMEGA 8/16.</li>
                <li>Participating team can use Bluetooth or RF module for wirless communication with the bot.</li>
                <li>Motor should be only D.C.geared motors(9-12V).</li>
                <li>Battery should be only in range of 9-12V.</li>
                <li>Bot should be completely wireless(using Bluetooth or RF module).</li>
            </ul>
        </section>
        <section>
            <h3><b>Rules</b>(Regarding Competition) :</h3>
            <ul>
                <li>A team will be allowed only 3 times to manage their bot during the competiton and each time 5 second will be added in their timing as penalty.</li>
                <li>5 seconds will be deducted as bonus to the team on passing through a tunnel or hurdle.</li>
                <li>Decision regarding the timings will be done by the judges.</li>

            </ul>
        </section>
        <section>
            <h3><b>Competition details:</b></h3>
            <ul>
                <li>A participating team should have only 3 to 4 members.</li>
                <li>6 teams shall be selected for the advance round depending on their performance in round 1.</li>
                <li>If a wrong path is picked, it has to be returned back, otherwise team shall be disqualified.</li>
                <li>Teams should have their own bots.</li>
                <li>Bot can be controlled by using Android App or Laptops.</li>
                <li>Practice time will be provided to each and every team on the provided arena(limited).</li>
                <li>final round is Based on the timing and accuracy in the first round, 6 teams will be selected for this round. The team who will complete the arena in minimum time will be the winner.</li>
            </ul>
        </section>
        <section>
            <h3><b>Prize money:</b></h3>
            <ul>
                <li>1st prize:- Rs 3000/-</li>
                <li>2nd prize:- Rs 2000/-</li>
                <li>3rd prize:- Rs 1000/-</li>
            </ul>
        </section>
        <section>
            <h3>
                <b>For more info contact us at:</b>
            </h3>
            <ul>
                <li>
                    Manoj Chorotiy:
                </li>
                <li>
                    Chetan Sharma:
                </li>
            </ul>

        </section>
    </div>
</div>
{% endblock %}