{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>TECHNIKER WIZARD</h2>
        <section>
            <p><b>Walking on water and developing software from a specification are easy if both are frozen.</b>
            </p>
        </section>
        <section>
            <h3><b>Prologue:</b></h3>
            <p>Compete and showcase your Electronics, Aptitude, Coding etc. skills. On this platform you stand a chance to evaluate self-potential and being high-rated in competition gives you respect and improves your coding speed. Do not stuck in the boundaries of your branch, come out of it to define your ability and grab the handsome prizes.</p>
        </section>

        <section>
            <h3><b>Event details:</b></h3>
            <h3>Circuit designing: </h3>
            <p>This is time based round. Each team will be provided with some wire, resistor, bread-board, clock and all necessary equipment. With the help of provided equipment they will have to make a circuit with the following characteristics:</p>
            <p>Example:
                <br>Design a circuit with three LEDS, bread board, wires and other equipment’s such that when switch 1, 2 and 3 are closed individually it glow one LED, two LEDS and 3 LEDS glows respectively.</p>
            <h3>#quizio.h:</h3>
            <p>Quiz consisting 2-3 rounds with questions on Aptitude, mental maths, programming languages(C,C++,Java), Cyber security, networking, CPUs Assembling, etc.</p>
        </section>
        <section>
            <h3><b>Event format:</b></h3>
            <h3>Round1(day 1):</h3>
            <p>Preliminary round includes Quiz (on basic electronics and C lang.) and circuit designing.</p>
            <h3>Round2(day 2):</h3>
            <p>Quiz show + CPU Assembling (organize a competition of assembling various parts of CPU together to make it functional again).</p>
            <h3>Round3(day 3):</h3>
            <p>Programming puzzle with presentation.</p>
        </section>
        <section>
            <h3><b>Competition details:</b></h3>

            <h3>Round1:</h3>
            <p>Preliminary Round with Quiz and Circuit designing.
                <br>Cross examination including questions related to basic technical knowledge (electronics, C language).</p>

            <h3>Round2:</h3>
            <p>Semis [#quizio.h]: (16 short listed teams)
                <br>2-slots of Quiz show with a panel game testing your knowledge in CPU assembling and programming environment. Ex: Rapid fire, etc.</p>

            <h3>Round3: </h3>
            <p>Finals [CODIGO]: (8 further short listed teams)
                <br>Finalist faces puzzle in programming environment and present it.</p>
        </section>

        <section>
            <h3><b>Rules:</b></h3>
            <ul>
                <li>Each team must contain maximum of two members.</li>
                <li>In case of tie (for round 2), scores of previous round will be used for ranking.</li>
                <li>You have to use items that are provided by us. You cannot use any item of your own.</li>
                <li>Gadgets not allowed unless stated.</li>
                <li>Involvement in any illegal activity may lead to disqualification of the team.</li>
                <li>The decision of organizer is final.</li>
            </ul>
        </section>
        <section>
            <h3><b>Judging criteria:</b></h3>
            <h3>Round1:</h3>
            <p>Points based on their performance in quiz + circuit designing.</p>

            <h3>Round2:</h3>
            <p>This is the semi-final round. Based on points from previous stage and in this phase summing their performance in various rounds.</p>

            <h3>Round3:</h3>
            <p>This is the final round. Based on points from previous stages, 8 teams will be selected. Team will have to compete with other teams to win. In this round, programming knowledge of each participant is tested. And who perform better within time will be winners.</p>
        </section>

        <section>
            <h3><b>Prize money:</b></h3>
            <ul>
                <li>1st prize:- Rs 3000/-</li>
                <li>2nd prize:- Rs 2000/-</li>
                <li>3rd prize:- Rs 1000/-</li>
            </ul>
        </section>

        <section>
            <h3>
                <b>For more info contact us at:</b>
            </h3>
            <ul>
                <li>Virag Jain :9596451482 (jain051994@gmail.com )</li>
                <li>Reyha Verma : (reyhaverma@gmail.com )</li>
            </ul>
        </section>
    </div>
</div>

{% endblock %}
