{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>TECH-TEASER</h2>
        <section>
            <h3><b>Introduction:</b></h3>
            <p>The world you live in is a matrix where you are bounded by streams of ciphers and codes. The GREEN wall limits your power to think and your ability to imagine. Have you got that efficacy and will within to break this bondage and free yourself from this web. Explore your wherewithal of coding in this challenging event where your skills will be tested and your efficiency will be put to test against the league of codes.</p>

        </section>
        <section>
            <h3><b>Evevt format:</b></h3>
            <h3>Round1(day 1):</h3>
            <p>The Eliminator</p>
            <h3>Round2(day 2):</h3>
            <p>Don't forget the bucks.</p>
            <h3>Round3(day 3):</h3>
            <p>Code Switching.</p>

        </section>
        <section>
            <h3><b>Event details:</b></h3>
            <h3>Problem statement:</h3>
            <p>First round is simple qualification round based on aptitude and simple programming. 10 Teams will be selected from 1st round and in the 2nd round will be related to flaw detection, and points gained in this round will contribute to the final round, and the final round is based on logical programming and swapping between team members after a given interval of time (CODE-CHAINING).</p>
            <p>The vision of this event is to check your observation skills, logic, time management and Team Coordination.</p>

        </section>
        <section>
            <h3>Round1(the eliminator):</h3>
            <p>This is the qualifier round where the questions will be based on general programming and technical aptitude. The paper type will be objective and participants are required to choose the correct alternative among the four choices, whereupon ten teams will move on to the next round.</p>
            <h3>Round2(don't forget the bugs):</h3>
            <p>This is the knockout round for the finale where teams will be provided with 6 to 7 code snippets and the motive will be to form a simple numeric code by determining the number of flaws/errors in each snippet. Evaluation will be based upon the accuracy of your code. Thence, 5 teams will advance To the final event.</p>
            <h3>Round3(Code switching):</h3>
            <p>This is the ultimate battle level that is goanna check up your mutual understanding and team coordination. Three distinct problems will be provided to the different members of the team and after a specific interval, all three will be shuffled with some other member of the same team. You have to pick up from where your friend left and complete the code until next shuffle.</p>
            <h3>Note:</h3>
            <p>You are not allowed to use comments or communicate with your team-mate.</p>
        </section>
        <section>
            <h3><b>Competition details:</b></h3>
            <ul>
                <li>This event shall be preceded by a qualifying round as mentioned above.</li>
                <li>10 teams shall be selected for the second round depending on their performance in stage 1 and then 5 teams for the final stage.</li>
                <li>Every stage has its own marking value.</li>
            </ul>
        </section>
        <section>
            <h3><b>Rules:</b></h3>
            <ul>
                <li>Mobile phones are not allowed in any of the stages.</li>
                <li>Each team consists of only three members.</li>
                <li>Each member of the team should bring their own laptop if they qualifies second round.</li>
                <li>Discussion between team members are not allowed in the final round.</li>
            </ul>
            <h3>Note:</h3>
            <p>violation of any of the above rules will directly lead to disqualification of the team.</p>
        </section>
        <section>
            <h3><b>Judging criterta:</b></h3>
            <h3>Round1:</h3>
            <p>30 points max based on their performance.</p>
            <h3>Round2:</h3>
            <p>30 points max based on their performance.</p>
            <h3>Round3:</h3>
            <p>point criteria of these round will be anonymous based on the jury member</p>
        </section>

        <section>
            <h3><b>Prize money:</b></h3>
            <ul>
                <li>1st prize:- Rs 3000/-</li>
                <li>2nd prize:- Rs 2000/-</li>
                <li>3rd prize:- Rs 1000/-</li>
            </ul>
        </section>
        <section>
            <h3>
                <b>For more info contact us at:</b>
            </h3>
            <ul>
                <li>
                    Shubham Goyal : 9086960835(shubhamagoyal@ymail.com)
                </li>
                <li>
                    Pratik Pagaria : 9796181145(pratikpagaria@gmail.com)
                </li>
            </ul>

        </section>
    </div>
</div>
{% endblock %}