{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>The Estimator</h2>
        <section>
            <p>Books may have taught a myriad of concepts. For a change, step into a new dimension of pragmatism which no book has ever taught and never will. Measurement-of-sorts, you may call it is here to test your imagination power of estimation.</p>
        </section>
        <!--<section>
            <h4>Team Formation:</h4>
            <ul>
                <li>A team can have maximum of 2 students.</li>
                <li>No student can be part of more than one team. </li>
                <li>It is not necessary that the students forming a team should be from the same college. </li>
                <li>There is no restriction on the number of teams from the same college</li>
            </ul>
        </section>-->
        <section>
            <h4>Event format:</h4>
            <ul>
            	<li>Round 1: General aptitude written test (Questions related to unit conversion, common construction material available in markets, their standard quantities etc. may be asked). Top 20 teams will qualify for round 2.</li>
            	<li>Round 2: A plan/elevation of some building will be given: Participants need to calculate and estimate the quantities like - No. of  bags of cement required, no. of bricks required, cost of digging the foundation etc. The level of Difficulty of given drawing will be such that an average student can solve and estimate the required quantities in an hour. </li>
            </ul>
        </section>
        <section>
            <h3>Rules and Regulations:</h3>
            <ul>
                <li>No prerequisite knowledge is required. Student with good imagination and estimation skills of any year can perform good in the event.</li>
                <li>Team may consist of 1-2 members.</li>
                <li>Open to all branches.</li>
                <li>Calculator is allowed.</li>
                <li>For final round, participants need to estimate the given quantities in 1 hour.</li>
            </ul>
        </section>
        <section>
            <h3>Judgement Criteria</h3>
            <ul>
            	<li>Top 20 teams will qualify for Round 2(on the basis of marks scored in aptitude test)</li>
            	<li>Round 2 winner will be decided on the basis of: Accuracy in estimation.</li>
            	<li>Judges call will be final(in case of any conflict)</li>
            </ul>
        </section>
        <section>
            <h3>Prize money </h3>
            <ul>
                <li>1st prize:- Rs 3000/-</li>
                <li>2nd prize:- Rs 2500/-</li>
                <li>3rd prize:- Rs 1500/-</li>
            </ul>
        </section>
        <section>
            <h3>
                For more info contact us at:
            </h3>
            <ul>
                <li>Sushmit K Choudhary  : sushmit321@yahoo.com</li>
                <li>Ashish Singh Chib  : chibashish@gmail.com</li>
                
            </ul>
        </section>

    </div>

</div>


{% endblock %}

{% block footer %}
<script src='js/jquery-1.10.2.js'></script>
<script src='js/jquery.velocity.min.js'></script>
{% endblock %}
