{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>TRUSS THY BRIDGE</h2>
        <section>
            <p>Every year Techvaganza has been taking up initiatives to play its part as a non-profit organization in generating awareness and developing an inclination of youth populace towards the problems existing in their surroundings. Smart City Challenge is such an initiative to engage the youth of the country in the development of cities and prosperity of its citizens. The Challenge has been designed with the vision of bringing together technology, government and the student fraternity to make the cities more efficient, sustainable and livable and to improve the quality of life of rapidly urbanizing population 
			<p>The idea is to enhance human, economic and social development, reduce costs and optimize resource consumption.</p>
			<p>Imagine if your city could talk - if it could give live status updates on traffic patterns, pollution, parking spaces, water, power and light. Imagine how that kind of information could improve the economic and environmental health of the city. Imagine how it could improve working conditions and productivity for the people who maintain the city. Techvaganza NIT SRINAGAR aims to provide a credible platform to the students to disseminate their integrated and digitally enriched urban environment.</p>
			<p>So, are you ready for the most exciting event of Techvaganza 2K15.</p>
        </section>
        
        <section>
            <h4>Event format:</h4>
            <ul>
            	<li>Stage 1: Demonstration regarding truss bridge designing.</li>
            	<li>Stage 2: Designing and construction of truss bridge.</li>
            </ul>
        </section>
        <section>
            <h3>Rules and Regulations:</h3>
            <ul>
                <li>Each team must consist of 3 members only.</li>
                <li>Participants are supposed to bring laptops of their own.</li>
                <li>Use of internet, mobile phones during the event is strictly prohibited.</li>
                <li>The span of bridge should not be greater than 1ft.</li>
                <li>The bridge must be constructed within the permissible time limit i.e. 2hrs.</li>
                <li>Contestants can use only the materials provided by the organisers.</li>
            </ul>
        </section>
        <section>
            <h3>Judgement Criteria</h3>
            <p>Contestants will be judged according to the design and efficiency of their bridge. The most economic design with maximum strength will be considered the best. Decision of organiser will be final.</p>
        </section>
        <section>
            <h3>Prize money </h3>
            <ul>
                <li>1st prize:- Rs 4000/-</li>
                <li>2nd prize:- Rs 3000/-</li>
                <li>3rd prize:- Rs 1500/-</li>
            </ul>
        </section>
        <section>
            <h3>
                For more info contact us at:
            </h3>
            <ul>
                <li>Vaibhav Khandelwal : Vaibhav.khandelwal607@gmail.com</li>
                <li>Aparajita Tiwari : Tiwari.aparajita94@gmail.com</li>
                <li>Girish kr. Agrawal : Gkagarwal013@gmail.com</li>
            </ul>
        </section>

    </div>

</div>


{% endblock %}

{% block footer %}
<script src='js/jquery-1.10.2.js'></script>
<script src='js/jquery.velocity.min.js'></script>
{% endblock %}
