{% extends "base.html" %} {% block content %}
<!-- <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'> -->
<link rel="stylesheet" type="text/css" href="/static/css/Obootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/user.css" />

<style>body {overflow: hidden;}a {text-decoration: none;}</style>
{% macro show_provider_button(provider_id, display_name, conn, show_update_form=False) %}
  <div class="span6">
   
   
    {% if conn %}
      
    <!--   <form action="{{ url_for('social.remove_connection', provider_id=conn.provider_id, provider_user_id=conn.provider_user_id) }}?__METHOD_OVERRIDE__=DELETE" method="POST" class="remove-connection">
        <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> Remove {{ display_name }} Connection</button>
      </form> -->
    {% else %}
      <form action="{{ url_for('registerS', provider_id=provider_id) }}" method="POST" class="create-connection">
        <fieldset>
          <div class="control-group">
            <button type="submit" class="btn btn-success btn-large"><i class="icon-share icon-white"></i> Connect with {{ display_name }}</button>
          </div>
        </fieldset>
      </form>
    {% endif %}
  </div>
{% endmacro %}


<style>
body {
    overflow: hidden;
}
a,a:hover{
    text-decoration: none;
    color:#ffffff;
}
</style>

<!-- <script type="text/javascript" src="js/modernizr.custom.79639.js"></script>  -->
<!--[if lte IE 8]>
             <link rel="stylesheet" type="text/css" href="/static/css/simple.css" />
        <![endif]-->
<div class="container">

    <div class="st-container">
        <input type="radio" name="radio-set" checked="checked" id="st-control-1" />
        <a href="#st-panel-1">My Profile</a>
        <input type="radio" name="radio-set" id="st-control-2" />
        <a href="#st-panel-2">Time Line</a>
        <input type="radio" name="radio-set" id="st-control-3" onclick="window.location.href='/events'">
        <a href="/">All Events</a>
        <!-- <a href="#st-panel-3">Home</a> -->

        <input type="radio" name="radio-set" id="st-control-4" />
        <a href="#st-panel-4">My Events</a>
        <input type="radio" name="radio-set" id="st-control-5" />
        <a href="#st-panel-5">Settings</a>

        <div class="st-scroll">

            <!-- Placeholder text from http://hipsteripsum.me/ -->

            <section class="st-panel" id="st-panel-1">
                <div class="st-deco" data-icon="My Profile"></div>

                  {{ show_provider_button('facebook', 'Facebook', facebook_conn) }}
				

                <div class="container-fluid">
                    <style>
                    #user {
                        margin-top: 215px;
                    }
                    </style>
                    <form id='user' class="form-horizontal" role="form" action="{{url_for('saveProfile')}}" method="post" accept-charset="utf-8">
                        <fieldset>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="email">Email Address</label>
                                <div class="col-md-4">
                                    <input id="email" name="email" style="text-transform: none;" value="{{ current_user.email}}" type="text" placeholder="Email Address" class="form-control input-md">


                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="first_name">First Name</label>
                                <div class="col-md-4">
                                    <input id="first_name" name="first_name" value="{{ current_user.first_name}}" type="text" placeholder="First Name" class="form-control input-md" required="">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="last_name">Last Name</label>
                                <div class="col-md-4">
                                    <input id="last_name" name="last_name" value="{{ current_user.last_name}}" type="text" placeholder="Last Name" class="form-control input-md" required="">

                                </div>
                            </div>


                            <!-- Prepended text-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="cell">Phone</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">+91</span>
                                        <input id="cell" name="cell" value="{{ current_user.cell}}" class="form-control" placeholder="Phone Number" type="text">
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="branch">Branch</label>
                                <div class="col-md-4">
                                    <input id="branch" name="branch" value="{{ current_user.branch}}" type="text" placeholder="Branch" class="form-control input-md">
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="col-md-4 control-label" for="batch">Batch</label>
                                <div class="col-md-4">
                                    <input id="batch" name="batch" value="{{ current_user.batch}}" type="text" placeholder="Year" class="form-control input-md">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-4 control-label" for="college">College</label>
                                <div class="col-md-4">
                                    <input id="college" name="college" value="{{ current_user.college}}" type="text" placeholder="College" class="form-control input-md">
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Save"></label>
                                <button id="save" name="save" class="btn btn-primary" type="submit">
                                    Update Details
                                </button>
                            </div>

                        </fieldset>
                    </form>
                </div>


                <!-- <h2>Serendipity</h2>
                <p>Banksy adipisicing eiusmod banh mi sed. Squid stumptown est odd future nisi, commodo mlkshk pop-up adipisicing retro.</p> -->
            </section>

            <section class="st-panel st-color" id="st-panel-2">
                <div class="st-deco" data-icon="Time Line"></div>
                <h2>22-24 May</h2>
                <p>Your personalised Timeline is Coming Soon.</p>
            </section>

            <section class="st-panel" id="st-panel-3">
                <div class="st-deco" data-icon="Home"></div>
                <h2><a style="font-weight:100;" href="/">Home</a></h2>
            </section>

            <section class="st-panel st-color" id="st-panel-4" style="padding-top:160px;">
                <div class="st-deco" data-icon="My Events"></div>
                <div class="container">
                <!-- {{current_user.events}} -->
                <!-- {% if current_user.events %} -->
                    <table class="table" style="max-width: 720px; margin: auto;background-color:transparent">
                        <tr>
                            <th>Event Name</th>
                            <th> Action</th>
                        </tr>
                <!--    {% for event in current_user.events %} -->
                        <!-- {{event.name}} -->
                        <tr>
                            <td><a href="/event/{{event.view_name}}">{{event.name}}</a> </td>
                            <td><a href="/unreg/{{event.view_name}}">Unregister</a></td>
                        </tr>
                <!--    {% endfor %} -->
                    </table>
                <!-- {% endif %} -->
                <!-- <h2>22-24 May</h2> -->
                <!-- <p>Coming Soon.</p> -->                    
                </div>
                
            </section>

            <section class="st-panel" id="st-panel-5">
                <div class="st-deco" data-icon="Settings"></div>
                <h2>Settings</h2>
                <div style="margin-top:325px;height:40px">
                    <p style="position:relative;"><a href="{{url_for_security('change_password')}}">Change Password</a>
                    </p>
                    <p style="position:relative;"><a href="{{url_for_security('logout')}}">Logout</a>
                    </p>
                </div>
            </section>

        </div>
        <!-- // st-scroll -->

    </div>
    <!-- // st-container -->

</div>
{% endblock %}
