<div class="container" style="height:100%">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/style.css" media="screen" type="text/css" />
    <script src="static/js/modernizr.js"></script>
    <link href='static/css/font.css' rel='stylesheet' type='text/css'>
    <div style="max-width:400px;">
        <h1 class="tv" id="tv">Techvaganza15</h1>
        <h1 class="soon" style="position:relative;top:-294px">22-24 May</h1>
    </div>
    <div class="bogie bogie-effect-1 bogie-show">
        <div class="bogie-content">
            <div>
                <p style="padding:0px">Cheers!!! Techvaganza 2015 is just around the corner.</p>
                <p>Registrations Open. <a href="/register">Register</a>
                </p>
                <p>If you have registered with us <a href="/login">Login Here</a>
                </p>
                <p>If you already have an account from last year, Retrieve your account <a href="/reset">here</a>
                </p>
                <p>For Any Query <a href="">contact-us@techvaganza.org</a>
                </p>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid" style="height:80%;margin-bottom:150px;">
    <div class="fixer">

        <div class="intro">
            <p></p>
            <div class="ccont">
                <div class="cp1">
                    <h2>About Us</h2>
                    <p>Techvaganza is the annual college festival of NIT Srinagar. Its an exceptional confluence of exquisite cultural displays with technological innovations reverberating in an aura filled with excitement, amusement and splendor. After the overwhelming success of Techvaganza 2014, NIT Srinagar is back with Techvaganza 2015 which promises to transcend all the thresholds of science and entertainment.Techvaganza 2015 guarantees inimitable world, teeming with boundless merriment, talent and skill as you plunge into the ocean of entertainment at this three day youth extravaganza.</p>

                </div>

                <div class="clogo">
                    <img src="/static/NITSXR.png " alt="NITSXR" style="height:150px; margin:32px;"></img>
                </div>
            </div>
            <div class="ccont2" data-860="opacity:1;" data-1300="opacity:0;">
                <div class="ccl">
                    <img src="/static/LOG.png" alt="Techvaganza" style="height:150px; margin:55px;"></img>
                </div>
                <div class="cp2" >
                    <h2>What's in It</h2>
                    <p>A roller-coaster of emotions in the CodeMania to an ideal SmackDown of Robots spread throughout the college, you get it all here at Techvaganza`15. In a nutshell, the three day extravaganza at Techvaganza will be a showcase of spectacular talent and an exhilarating experience for the populace. We have something for everyone - be it a Art Lover, a music fanatic, a Geek, a quiz wizard or simply a fun loving mortal. Fuelling the fire of passion, inquisitiveness and the desire for perfection with a topping of unique and challenging events ingeniously crafted by some of the smartest young minds of India. Feel the fire consume your soul as you compete against the best teams of the country!</p>
                </div>

            </div>
            <div class="cp3" data-860="opacity:1;" data-1300="opacity:0;">
                <h2>Its not just a festival, its a celebration.</h2>
                <p>Come join the Techno Paradise! </p>
            </div>
        </div>
    </div>

</div>



<link rel="stylesheet" type="text/css" href="/static/css/ddcomponent.css" />
<div class="container2" style="height:1120px; margin-top:50px">
    <!-- Top Navigation -->
    <section class="grid3d vertical" id="grid3d">
        <div class="grid-wrap">
            <div class="grid">
                <a data-850="opacity:0;" data-1350="opacity:1;" data-1700="opacity:0" href="/event/bits-n-bytes">
                    <div class="figure">
                    <img src="/static/images/bits the byte.png">
                    <p style="color:#1954B0;">Bits-n-Bytes</p>
                    </div>
                </a>
                <a data-850="opacity:0;" data-1350="opacity:1;" data-1700="opacity:0" href="/event/circuitrix">
                    <div class="figure">
                         <img src="/static/images/circulatrix.png">
                         <p style="color:#1954B0;">Circuitrix</p>
                    </div>
                </a>
                <a data-850="opacity:0;" data-1350="opacity:1;" data-1700="opacity:0" href="/event/reverse_engineering">
                    <div class="figure">
                        <img src="/static/images/riverse engi.png">
                        <p style="color:#1954B0;">Reverse Engineering</p>
                    </div>
                </a>
                <a data-1370="opacity:0;" data-1700="opacity:1;" data-2000="opacity:0;" href="/event/smart-city">
                    <div class="figure">
                    <img src="/static/images/city smart.png">
                    <p style="color:#1954B0;">Smart City</p>
                    </div>
                </a>
                <a data-1370="opacity:0;" data-1700="opacity:1;" data-2000="opacity:0;" href="/event/elcectic_car">
                    <div class="figure">
                    <img src="/static/images/electric.png">
                    <p style="color:#1954B0;">Electric Car</p>
                    </div>
                </a>
                <a data-1370="opacity:0;" data-1700="opacity:1;" data-2000="opacity:0;" href="/event/cooling_tower_design">
                    <div class="figure">
                    <img src="/static/images/junkyard.png">
                    <p style="color:#1954B0;">Junkyard</p>
                    </div>
                </a>
                <a data-1800="opacity:0;" data-2000="opacity:1;" href="/event/free_energy_genrator">
                    <div class="figure">
                        <img src="/static/images/web logo.png">
                        <p style="color:#1954B0;">Free Energy</p>
                    </div>
                </a>
                <a data-1800="opacity:0;" data-2000="opacity:1;" href="/event/jal_shudhta">
                    <div class="figure">
                        <img src="/static/images/tatva.png">
                        <p style="color:#1954B0;">Tatva</p>
                    </div>
                </a>
                <a data-1800="opacity:0;" data-2000="opacity:1;" href="/event/cooling_tower_design">
                    <div class="figure">
                         <img src="/static/images/kriti.png">
                         <p style="color:#1954B0;">Kriti</p>
                    </div>
                </a>
                <!-- <a data-1900="opacity:0;" data-2100="opacity:1;" href="/event/cooling_tower_design">
                    <div class="figure"></div>
                </a>
                <a data-1900="opacity:0;" data-2100="opacity:1;" href="/event/cooling_tower_design">
                    <div class="figure"></div>
                </a>
                <a data-1900="opacity:0;" data-2100="opacity:1;" href="/event/cooling_tower_design">
                    <div class="figure"></div>
                </a> -->
            </div>
        </div>
        <!-- /grid-wrap -->
        
        <script src="/static/js/skrollr.js"></script>
        <script type="text/javascript">
        skrollr.init({
            forceHeight: false
        });
        </script>
    </section>
</div>
<!-- /container -->









<script src='/static/js/jquery-1.10.2.js'></script>
<script src='/static/js/jquery.velocity.min.js'></script>
<script src='/static/js/blast.js'></script>
<script src="/static/js/index.js"></script>
